.selected{
    font-weight: bolder;
    font-size: large;
    color: var(--secundary-font-clr);
}

.menuIcon{
    display: none;
}

.navBar{

    position: fixed;
    margin-inline: auto;
    padding: 1rem;
    z-index: +2;
    background-color: var(--bgMain);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    width: 100%;
    max-width: 1000px;
    cursor: pointer;
}

.breadCrumbContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.3rem;
    flex: 4;
}
.cv{
    color: var(--cinder-color);
}
.cv:active{
    font-weight: bolder;
    font-size: large;
    color: var(--secundary-font-clr);
}

.darkModeSwitch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
}

@media  (max-width:850px) {
    .menuIcon{
        display: inline-block;
        top: 1rem;
        left: 1rem;
    }

    .breadCrumbContainer{
        visibility: hidden;
        overflow: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        top: 3rem;
        left: 0;
        background-color: var(--bgMain);
        gap: 2rem;
        border: solid 1px var(--light4);
        border-radius: 5px;
        width: 20rem;
        padding: 4rem;
    }
    .navBar{
        justify-content: space-between;
        padding-inline: 2rem;
        position: fixed;
    }

    .active{
      visibility: visible;
      transition: all 1s ease;
        
    }
    .darkModeSwitch{
        margin: 0;
    }
}