.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 15rem auto;
  width: 100%;
  padding: 0.5rem;
  justify-content: center;
  text-align: initial;
  padding-top: 3rem;
}

.containerCourses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5remrem auto;
  width: 100%;
  padding: 0.5rem;
  justify-content: center;
  text-align: initial;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.title h2 b {
  color: var(--secundary-font-clr);
  font-weight: bold;
}

.secondaryContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.educationContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.6rem;
}

.eduCard {
  display: flex;
  gap: 3rem;
  border-bottom: var(--light4) 1px solid;
  padding-bottom: 0.5rem;
}
.edIcon, .certIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: contain;
}

.eduContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.eduContent p:nth-child(1) {
  opacity: 0.5;
  transform: translateY(2px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.eduContent p:nth-child(n + 2) {
  opacity: 0;
  padding: 10px;
  text-align: center;
  transition: opacity 0.5s ease, transform 0.5s ease, display 0.5 ease; /* Agrega transiciones */
  transform: translateY(20px);
  display: none;
}

.eduCard:hover .eduContent p:nth-child(n) {
  opacity: 1;
  transform: translateY(0);
  text-align: initial;
  display: block;
}

.skillsColumn {
  max-width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.skill {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

.titleBarCont {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.barContainer {
  display: flex;
  min-width: 300px;
  width: 90%;
  height: 0.75rem;
  background-color: var(--light4);
  border-radius: 200px;
}

.barProgres {
  height: 0.75rem;
  background-color: var(--secundary-font-clr);
  border-radius: 200px;
  width: 90%;
  left: 0;
}

@media screen and(min-width:750px) and (max-widht: 900px) {
  /* .container{
    justify-content:space-between
  } */
  .skillsColumn {
    max-width: 600px;
  }
}

@media (min-width: 900px) {
  .secondaryContainer {
    justify-content: space-between;
  }
  .skillsColumn {
    width: 45%;
  }
  .educationContainer {
    max-width: 40%;
  }
}

.skill:hover .icon {
  animation: jello-horizontal 0.9s linear both;
}
.certCard:hover .certIcon{
  animation: jello-horizontal 0.9s linear both;
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.eduCard:hover .edIcon {
  animation: jello-horizontal 0.9s linear both;
}


.certificationsContainer  {
  width: 300px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: visible;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
  align-self: center;  
}

.lang{
  margin-top: 1rem;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}
.certificationsContainer::-webkit-scrollbar-track {
  background-color: rgba(240, 248, 255, 0.007);
}
.h3Cert {
  margin: 4rem 0 0;
}
.h3Cert strong {
  color: var(--secundary-font-clr);
}

.certCard {
  border-radius: 10px;
  width: 290px;
  height: 150px;
  border: var(--light4) solid 1px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  padding: 0.5rem;
}

.certCardInfo, .langCard {
  
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: initial;
  gap: 2px;
}
.langCard{
  width: 290px;
  align-items: center;
  text-align: center;
}


.iconsCont {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.iconsCont img {
  width: 1rem;
  height: 1rem;
}

.langCont{
  margin-top: 3rem;
  display: grid;
  place-content: center;
  width: 100%;
  text-align: initial;
}
@media (min-width: 600px) {
  .certificationsContainer, .lang {
    width: 600px;
  }
}

@media (min-width: 900px) {
  .certificationsContainer, .lang {
    width: 100%;
    max-width: 900px;
    gap: 3.5rem;
  }
}
@media (min-width: 1200px) {
  .certificationsContainer, .lang {
    width: 100%;
    max-width: 1038px;
  }
}
